.button {
    border: 1px solid rgba(179, 177, 201, 1);
    background: white;
    color: rgba(107, 105, 133, 1);
    border-radius: 12px;
    font-size: 14px;
}

.button:hover{
    border: 1px solid rgba(179, 177, 201, 1);
    background: white;
    color: rgba(107, 105, 133, 1);
}

.wrapper{
    height: fit-content;
}
.button:focus{
    border: 1px solid rgba(179, 177, 201, 1);
    background: white;
    color: rgba(107, 105, 133, 1);
}
.button:checked{
    border: 1px solid rgba(179, 177, 201, 1);
    background: white;
    color: rgba(107, 105, 133, 1);
}