.bg {
    display: flex;
    width: 528px;
    padding: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    border-radius: 12px;
    border: 1px solid  #F1F0F7;
    background:  #FFF;
    box-shadow: 0px 0px 22px 0px rgba(180, 191, 209, 0.35);
}

.modalName {
    color:  #17192B;
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
    align-self: center;
}